/* Page reset size css */
/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    font-family: "Open Sans", sans-serif
}

* {
    line-height: 1.22;
    box-sizing: border-box
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
} */

/* page size reset css end */

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
#list{
    display: block;
    display: flex;
    justify-content: end;
    justify-content: flex-end;
      

  
}
li{
    display: inline;
    justify-content: end;
   
}
.logo{
    position: relative;
    left: -10%;
}
#list ul li a{
    margin-left: 20px;
    text-decoration: none;
    font-size: larger;
    color: black;
}
.log-in{
    /* color: #fff; */
    width: 100px;
    height:30px ;
    /* border-radius: 10px; */
}
.sign-up-in{
    background-color: red;
    color: #fff;
    width: 100px;
    height:30px ;
    /* border-radius: 10px solid; */
}
/* serch icon */
.search {
    /* width: 100%; */
    /* position: relative; */
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid lightgray;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid red;
    background:red;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 100%;
  
  }
#second{
    display: block;
    display: grid;
   grid-template-columns: repeat(5,1fr);
   gap: 0%;
}
#text{
    position: absolute;
    top: 300px;
    left: 96px;
    color: aliceblue;
}
#btn{
    position: absolute;
    top: 480px;
    left: 1200px;
   color: white;
   background-color: transparent;
    
}
#third{
    display: flex;
    gap: 30px;
    margin-left:7%;
}
#word{
    display:flex;

}
#map{
    display:flex;
    margin-left:10%;
    
}
#timinng{
 padding-left:30px;
 padding-top:45px;
 width:40%;  
}
#container{
    width:90%
}
#direction{
    padding-left:200px;
}
#ele{
    display:flex;
}
#review{
    position: absolute;
    top: 999px;
    left: 100px;
    
}
#recomm{
    margin-left:6%; 
    margin-top: 7%;
}
#user{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 52%;
    margin-left: 6%;
}

#footer{
    display: flex;
    margin-left: 6%;
    justify-content: space-between;
    width: 80%;
    margin-top: 4%;
}

